body {
  background-color: #252529;
  color: white;
}

.card-body a:hover {
  background-color: #2b61b1;
}
.card {
  width: 12rem;
}

/* Banner Section */
#banner {
  width: 100%;
  height: 100px;
  max-width: 100%;
  max-height: 100px;
  object-fit: cover;
}

/* Navbar Section */

/* .btn.secondary .active aria-pressed{
  background-color: '#2b61b1 !important';
} */

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

.material-symbols-outlined {
  font-size: 1.5em;
  margin: 3px;
}

/* Profile Card Section */
#profile-card {
  padding-top: 10px;
  margin-left: 10px;
  background-color: #1c1c1f;
  width: 460px;
  height: 200px;
  border-bottom-right-radius: 10px;
  float: left;
}
#profile-pic {
  margin-bottom: 20px;
  float: left;
}
#profile-pic img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #333338;
  float: left;
}
#profile-card-info {
  text-align: start;
  padding-top: 60px;
  padding-left: 8px;
  float: left;
  color: azure;
}
#profile-card-name {
  font-family: Impact;
  font-size: 23px;
}
#profile-card-location {
  font-family: Impact;
  font-size: 18px;
}
#login-button {
  margin-top: 130px;
  float: left;
  border-radius: 7px;
  color: black;
  font-weight: bold;
}
/* Notification Center */
#notification-center {
  padding-left: 100px;
  margin-left: 50px;
  max-height: 200px;
  float: right;
  background-color: #1c1c1f;
  border-bottom-left-radius: 10px;
}
.card-title {
  margin-bottom: 30px;
}
.nc-card {
  margin-top: 15px;
  float: left;
  max-height: 200px;
}
#card-logo {
  object-fit: fill;
}

/* Header Section */
hr {
  color: aliceblue;
}

/* Calendar Section */
#cal-section {
  width: 500px;
  height: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #1c1c1f;
  float: left;
}
#event-cal-title {
  margin-top: 10px;
  color: white;
  border: 2px solid white;
  text-align: center;
  font-family: Impact;
}
#event-cal {
  margin-top: 15px;
  text-align: left;
  border: 3px solid white;
}
th {
  text-align: center;
}
#event-cal td {
  padding-bottom: 80px;
}
