#ballotOffice {
  margin: 20px;
  width: 350px;
  height: fit-content;
  text-align: center;
  background-color: #2f3030;
  border-radius: 10px;
  border: 3px solid #333338;
  float: left;
  /* object-fit: contain; */
  justify-content: space-between;
}
#loading {
  margin-left: 40%;
  margin-top: 20%;
  color: white;
  font-size: 80px;
}
#pollingInfo {
  margin-top: 20px;
}
#pollingInfo h2 {
  font-weight: bolder;
  color: white;
}
#pollingLocation {
  color: white;
  font-size: 30px;
  border: solid blue 5px;
  float: left;
  width: 50%;
}
#pollingHours {
  color: white;
  font-size: 30px;
  float: right;
  width: fit-content;
  border: solid yellow 5px;
}
#electionAdminBody {
  color: white;
  font-size: 30px;
}

#officeName {
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: fit-content;
  color: white;
  background-color: cadetblue;
  font-size: 30px;
  font-weight: bolder;
}
#candidateName {
  color: white;
  font-size: 30px;
}
#candidateInfo {
  border-bottom: solid black 3px;
}
.democrat {
  color: #2a2af5;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 3px;
}
.republican {
  color: #d23838;
  font-weight: bold;
  font-size: 25px;
}
.other {
  /* color: #398e39; */
  color: #7c4a97;
  font-weight: bold;
  font-size: 25px;
}
