#logInCol {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 50px;
}
#continueAnyway {
  margin-top: 15px;
}
#createAccountBtn {
  margin-top: 5px;
  margin-left: 20%;
  margin-right: 20%;
}
#continueAnyway {
  margin-top: 5px;
  text-align: center;
}
