#addressField {
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
}
#testAddress {
  color: white;
  font-size: 25px;
}
#ballotComponentRow {
  margin-top: 10px;
  border: solid blue 5px;
}
#representativeComponentRow {
  margin-top: 30px;
  border: solid yellow 5px;
}
