#reptest {
  color: blueviolet;
}
#repImage {
  width: auto;
  height: auto;
}
#body {
  margin: 5%;
}
#repComponentElement {
  align-content: center;
}
#inputInstructions {
  /* margin-left: 35%; */
  color: white;
  font-weight: bolder;
  float: right;
}
#addressInputField {
  /* margin-left: 45%; */
  width: 500px;
  float: left;
}
#fedSection {
  margin-top: 10px;
  text-align: center;
  color: white;
  height: 300px;
  border: 5px solid white;
}
#stateSection {
  margin-top: 20px;
  text-align: center;
  color: white;
  height: 300px;
  border: 5px solid white;
}
#localSection {
  margin-top: 20px;
  text-align: center;
  color: white;
  height: 300px;
  border: 5px solid white;
}
