#representativeCard {
  margin: 20px;
  width: 350px;
  height: 400px;
  text-align: center;
  background-color: #2f3030;
  border-radius: 10px;
  border: 3px solid #333338;
  float: left;
  /* object-fit: contain; */
  justify-content: space-between;
}
#officeName {
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: fit-content;
  color: white;
  background-color: cadetblue;
  font-size: 30px;
  font-weight: bolder;
}
#officialPhoto {
  width: 175px;
  height: 175px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 5px solid #333338;
}
#officialName {
  /* margin-top: 100px; */
  color: white;
  font-size: 30px;
}

.democrat {
  color: #2a2af5;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 3px;
}
.republican {
  color: #d23838;
  font-weight: bold;
  font-size: 25px;
}
.other {
  color: #398e39;
  font-weight: bold;
  font-size: 25px;
}
